<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="main">
    <%- include('../partials/navigation'); %>
    <!-- --------- Add ToDo sart ---------- -->
    <div class="myPlantsForm mt-5 mb-3">
          <div class="logListSortButtons">
        <button type="submit" class="btn btn-success col-3">
          <h2 class="mt-2"><i class="fas fa-sort-amount-down"></i></h2>
        </button>
        <button type="submit" class="btn btn-warning col-3">
          <h2 class="mt-2"><i class="fas fa-sort-amount-down"></i></h2>
        </button>
        <button type="submit" class="btn btn-danger col-3">
          <h2 class="mt-2"><i class="fas fa-sort-amount-down"></i></h2>
        </button>
        </div>
      <p>
  <button class="btn btn-success col-12 mt-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <h2 class="mt-2">Add ToDo <i class="fas fa-plus"></i></h2>
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
        <form action="/addTodo" method="post">
            <select class="form-select mb-3" name="urgency"  aria-label="Default select example">
            <option selected>Urgent</option>
            <option value="notUrgent">Not Urgent</option>
            </select>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Assembly Unit</label>
                <input type="number" name="assemblyUnit" class="form-control" id="exampleFormControlInput1"            placeholder="100-00">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Header</label>
                <input type="text" name="header" class="form-control" id="exampleFormControlInput1"            placeholder="What's the problem">
            </div>
            <div class="mb-3">
              <label for="timepicker" class="form-label">Date</label>
              <input class="form-control" id="timepicker" name="todoDate" type="datetime-local">
            </div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">The Problem</label>
  <textarea class="form-control" name="todoText" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
        <button type="submit" class="btn btn-success col-12 mt-4">
          <h2 class="mt-2">Add ToDo <i class="fas fa-plus"></i></h2>
        </button>
      </form>
  </div>
</div>
    </div>
    <!-- --------- Add ToDo end ---------- -->
    <div class="logMachinesMenu">
      <h1 class="text-white">Project 1000120050 Vk: 1 100</h1>
      <div class="machineInfo bg-dark mt-3 mb-3">
        <div class="machineInfoText col-6">
          <h1>1</h1>
          <h1>12.04.2021</h1>
        </div>
        <div class="machineInfoText col-6">
          <h1>Assembly Unit</h1>
          <h1>100-05</h1>
        </div>
        <div class="machineInfoToDo col-6">
          <h1>Problem with probes</h1>
          <p>New ones are in order, solution for now -> after every third measurement there will be a master calibration</p>
        </div>
        <div class="plantButtons col-12">
            <button type="button" class="btn btn-danger btn-lg col-12 mb-2">
              <h1 class="mt-2">
                Move to urgent <i class="fas fa-arrow-right"></i>
              </h1></button>
            <button type="button" class="btn btn-primary btn-lg col-12 mb-2">
              <h1 class="mt-2">
                Move to Project Chatroom <i class="far fa-comment"></i>
              </h1></button>
            <button type="button" class="btn btn-success btn-lg col-12 ">
              <h1 class="mt-2">
                Job Done <i class="fas fa-check"></i>
              </h1></button>
        </div>
      </div>
      <div class="machineInfo bg-success mt-3 mb-3">
        <div class="machineInfoText col-6">
          <h1>2</h1>
          <h1>12.04.2021</h1>
        </div>
        <div class="machineInfoText col-6">
          <h1>Assembly Unit</h1>
          <h1>110-02</h1>
        </div>
        <div class="machineInfoToDo col-6">
          <h1>Problem with Siri</h1>
          <p>Atm, we are unable to align the skit with upper- and lower tool, waiting for the design department to get a solution. Meanwhile the machine is working we just can't show this to the customer.</p>
        </div>
        <div class="plantButtons col-12">
            <button type="button" class="btn btn-danger btn-lg col-12 mb-2">
              <h1 class="mt-2">
                Move to urgent <i class="fas fa-arrow-right"></i>
              </h1></button>
            <button type="button" class="btn btn-primary btn-lg col-12 mb-2">
              <h1 class="mt-2">
                Move to Project Chatroom <i class="far fa-comment"></i>
              </h1></button>
            <button type="button" class="btn btn-warning btn-lg col-12 ">
              <h1 class="mt-2">
                Reopen Issue <i class="fas fa-arrow-up"></i>
              </h1></button>
        </div>
      </div>
      <div class="machineInfo bg-danger mt-3 mb-3">
        <div class="machineInfoText col-6">
          <h1>1</h1>
          <h1>12.04.2021</h1>
        </div>
        <div class="machineInfoText col-6">
          <h1>Assembly Unit</h1>
          <h1>100-05</h1>
        </div>
        <div class="machineInfoToDo col-6">
          <h1>Problem with probes</h1>
          <p>New ones are in order, solution for now -> after every third measurement there will be a master calibration</p>
        </div>
        <div class="plantButtons col-12">
            <button type="button" class="btn btn-warning btn-lg col-12 mb-2">
              <h1 class="mt-2">
                Not Urgent anymore <i class="fas fa-arrow-right"></i>
              </h1></button>
            <button type="button" class="btn btn-primary btn-lg col-12 mb-2">
              <h1 class="mt-2">
                Move to Project Chatroom <i class="far fa-comment"></i>
              </h1></button>
            <button type="button" class="btn btn-success btn-lg col-12 ">
              <h1 class="mt-2">
                Job Done <i class="fas fa-check"></i>
              </h1></button>
        </div>
      </div>
      <!-- #################################################################### -->
      <!-- iterade todos start -->
      <%= %>
      <% todos.forEach((todo)=>{ %>
        <div class="machineInfo <%= todo.todostatus %> mt-3 mb-3">
        <div class="machineInfoText col-6">
          <h1 class="hiddenId"><%= todo.todo_id%></h1>
          <h1><%= todo.tododate%></h1>
        </div>
        <div class="machineInfoText col-6">
          <h1>Assembly Unit</h1>
          <h1><%= todo.assemblyunit%></h1>
        </div>
        <div class="machineInfoToDo col-6">
          <h1><%= todo.header %></h1>
          <p><%= todo.todotext %></p>
        </div>
        <div class="plantButtons col-12">
            <button type="button" class="btn btn-warning btn-lg col-12 mb-2">
              <h1 class="mt-2">
                Not Urgent anymore <i class="fas fa-arrow-right"></i>
              </h1></button>
            <button type="button" class="btn btn-primary btn-lg col-12 mb-2">
              <h1 class="mt-2">
                Move to Project Chatroom <i class="far fa-comment"></i>
              </h1></button>
            <button type="button" class="btn btn-success btn-lg col-12 ">
              <h1 class="mt-2">
                Job Done <i class="fas fa-check"></i>
              </h1></button>
        </div>
      </div>
        <% }) %>

      <!-- #################################################################### -->

      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>
  </body>
</html>
