<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
        <h2>Variable</h2>
        <p><%= tagline %></p>
        <ul>
          <% mascots.forEach((mascot)=>{ %>
          <li>
            <strong><%= mascot.name %></strong>
            representing <%= mascot.organization %> , born <%= mascot.birth_year
            %>
          </li>
          <% }) %>
        </ul>
      </div>
    </main>
    <div class="">
      <form action="/submit_form" method="post" class="form-signin">
        <div class="form-group">
          <label for="text">text</label>
          <input
            type="text"
            class="form-control"
            name="title"
            placeholder="Enter email"
          />
        </div>
        <div class="form-group">
          <label for="posts">posts</label>
          <textarea
            type="text"
            class="form-control"
            name="posts"
            placeholder="Enter message"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
